@typeparam TValue

<div class="card-component">
    <div class="card-image-box">
        <img src="@image" />
    </div>
    <h6>
        @title
    </h6>
    @if (!string.IsNullOrWhiteSpace(description))
    {
        <p>
            @description
        </p>
    }
</div>