

<div class="input-group-component">
    <label>@(string.IsNullOrWhiteSpace(DisplayName) ? nameof(Value) : DisplayName)</label>
    <div class="input-group-box">
        <input type="text" class="" value="@Value" @onchange="OnChangeValue" />
        @if (ButtonTemplate is not null)
        {
            <div class="input-group-button-template">
                @ButtonTemplate
            </div>
        }
        else
        {
            <!-- Template -->
        }
    </div>

</div>