@page "/"
@using ZCodBlazorCourse.Components

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<h3>
    @Description
</h3>

<CKEditor DisplayName="Description" @bind-Value="Description" />
@code {
    public string Description { get; set; }
}