@page "/"
@using ZCodBlazorCourse.Components
@inject IConfiguration config
<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<h3>
    @Description
</h3>

<CKEditor DisplayName="Description" UrlToPostImage="@imagePostUrl" @bind-Value="Description" />
@code {
    private string imagePostUrl = "";
    protected override void OnInitialized()
    {
        imagePostUrl = string.Concat(config.GetValue<string>("ApiBaseUrl") , "/api/upload/uploadImage");
        base.OnInitialized();
    }
    public string Description { get; set; }
}