@page "/"
@using System.ComponentModel.DataAnnotations

<PageTitle>Home</PageTitle>

<EditForm Model="User" OnValidSubmit="Submit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="row">
        <div class="col-md-4">
            <label>Name</label>
            <input type="text" class="form-control" @bind-value="@User.Name" />
            <InputText class="form-control" @bind-Value="User.Name" />
            <ValidationMessage For="@(() => User.Name)" />
        </div>
        <div class="col-md-4">
            <label>LastName</label>
            <input type="text" class="form-control" @bind-value="@User.LastName" />
            <InputText class="form-control" @bind-Value="User.LastName" />
            <ValidationMessage For="@(() => User.LastName)" />
        </div>
        <div class="col-md-12">
            <button class="btn btn-primary" type="submit">
                Submit
            </button>
        </div>
    </div>
</EditForm>

@code {
    public UserDto User = new UserDto();

    public class UserDto
    {
        public int Id { get; set; }
        [Required(ErrorMessage = "name is required!")]
        public string Name { get; set; }
        [Required(ErrorMessage = "last name is required!")]
        public string LastName { get; set; }
    }

    public async Task Submit()
    {
        
    }
}