@page "/"
@using ZCodBlazorCourse.Components

<PageTitle>Home</PageTitle>

<h3>
    @MyValue
</h3>

<InputGroupComponent DisplayName="استعلام" @bind-Value="@MyValue">
    <ButtonTemplate>
        <button class="btn btn-primary" @onclick="GetInquiry">
            دریافت استعلام
        </button>
    </ButtonTemplate>
</InputGroupComponent>

@code {
    public string MyValue { get; set; }

    private async Task GetInquiry()
    {
        // request
    }
}
